/*-----------------------------------------------

STYLES FOR THE MAIN SECTIONS OF THE ABOUT AND PRODUCT PAGES
------------------------------------------------*/


.header-image {

}
.about-products-main .entry-header .entry-title  {
	font-size: 2.4rem;
	margin-top: 0px;
	margin-bottom: 24px;
	font-weight: 300;
	color: $crave-orange;
}
.about-products-main .entry-content h2 {
	padding-bottom: 4px;
	border-bottom: 1px dotted #ccc;
	font-size: .9rem;
	margin-bottom: 12px;
}
.products-ul {
	list-style: disc outside;
	list-style-type: disc;
	list-style-position: outside;
	line-height: 1.714285714;
}
.products-li {
	margin: 0 0 0 2.571428571rem;
}
.product-body-image {
	margin-bottom: 1.714285714rem;
	max-width: 100%;
	height: auto;
}
.about-products-main p {
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.about-products-main li {
	margin: 0 0 0 2.571428571rem;
}
.about-products-main ul {
	list-style: disc outside;
	list-style-type: disc;
	list-style-position: outside;
	line-height: 1.714285714;
	margin: 0 0 1.714285714rem;
}

.about-products-main img {
	max-width: 100%;
	border: 10px solid #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.about-products-header {
	box-sizing: border-box;
	margin-bottom: 24px;
	display: block;
}	
.about-products-header img {
	max-width: 100%;
	border: 10px solid #fff;
	box-shadow: 0 1px 4px rgba( 0, 0, 0, 0.2);
	border-radius: 3px;
}

/*---styles for the two column lists on the product pages that the client requested at site launch. --*/
@media screen and (max-width: 625px) {
	
	 /*--had to inline some styles to make the uls easily editable in the WP WISYWIG. So have to override them here.*/
	.product-ul-right,
	.product-ul-left {
			float: none !important; 
			width: 100% !important;

		}
		ul.product-ul-left {
			margin-bottom: 0;
		}
}
@media screen and (min-width: 625px) {
	ul.product-ul-right,
	ul.product-ul-left {
		list-style-type: none;
	}
	.product-ul-right li,
	.product-ul-left li {
		margin-left: 0;
		font-size: .9rem;
	}
	ul.two-col-ul {
		list-style-type: none;
	}
	.product-pg-list-left {
		float: left;
		clear: both;
	}
	.product-pg-list-right {
		float: right;
	}
	.two-col-ul .product-pg-list-left,
	.two-col-ul .product-pg-list-right   {
		margin-left: 0;
		width: 48%;
		font-size: .9rem;
	}
}

@media screen and (min-width: 780px) {
	.about-products-main {
		width: 65.104166667%;
		float: left;
	}
}
@media screen and (max-width: 450px) {
	.about-products-header {
		padding-top: 3px;
		padding-bottom: 3px;
	}	
}
