
/*-----------------------------------------------

					HEADER STYLES
------------------------------------------------*/

.logo-secondary-container.clear {
	position: relative;
}
.mobile-logo {
	position: fixed;
	top: 0;
	left: 0;
	background: $crave-orange;
	width: 100%;
	height: 40px;
	display: block;
	padding-left: 24px;
	padding-top: 14px;
	/*margin: 0px auto;*/
	/*margin-top: 30px;*/
	z-index: 9998;
}
.desktop-logo {
	display: none;
}
.desktop-logo-image {
	max-width: 100%;
}
.mobile-nav-logo {
	width: 120px;
}
.secondary-navigation {
	width: 300px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.secondary-nav-contact {
	font-size: 1rem;
	text-align: right;
	margin-bottom: .8rem;
	color: #5e5e5e;
	font-weight: 300;

}
.secondary-nav-icons {
	float: right;
	margin-left: 10px;
}
.secondary-navigation {
	display: none;
}



@media screen and (min-width: 780px) {
	.desktop-logo {
		margin:0px 0px;
		float:left;
		width: 200px;
		height: auto;
		display: block;
	}
	.mobile-logo {
		display: none;
	}
	.secondary-navigation {
		display:block;
	}
	.nav-menu li a {
		padding-top: 0px;
		padding-bottom: 0px;
		border-top: 0px;
		padding-right: 20px;
		padding-left: 20px;
	}
	.nav-menu li a:hover {
		background: $crave-orange;
	}
	.nav-menu li:hover, .nav-menu li:focus {
		background-color: transparent;
	}
	.nav-menu li a:hover, .nav-menu li a:focus  {
		color: #fff;
	}	
	.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul{
		background: rgba(237,237,237,1);
		background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 52%, rgba(232,227,232,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(52%, rgba(237,237,237,1)), color-stop(100%, rgba(232,227,232,1)));
		background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 52%, rgba(232,227,232,1) 100%);
		background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 52%, rgba(232,227,232,1) 100%);
		background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 52%, rgba(232,227,232,1) 100%);
		background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 52%, rgba(232,227,232,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e8e3e8', GradientType=0 );
		border-radius: 3px;
	}

}

@media screen and (min-width: 780px) and (max-width: 865px) {
	.main-navigation li {
		font-size: .85rem;
	}
}

/*--------------------------------------------------------------------------
	Modifications to the responsive menu plugin.

----------------------------------------------------------------------------*/

#click-menu {
	top: 0px;
	padding: 5px;
	background: transparent;
	text-align: right !important;
	border-radius: 0 !important;
}
#rm-additional-content  {
	display: block;
}
#responsive-menu div#rm-additional-content  {
	padding: 0 !important;
	width: 100% !important;
}
#rm-additional-content a {
	padding: 10px 0px 10px 5% !important;
	width: 100% !important;
	display: block !important;
	line-height: 20px !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	color: $crave-orange !important;
	border-top: 1px solid #3C3C3C !important;
	border-bottom: 1px solid #3C3C3C !important;
	text-decoration: none !important;
}
#rm-additional-content a:last-of-type {
	border-bottom: 1px solid #3C3C3C !important;
	border-top: 0px !important;
}
#rm-additional-content a:hover,
#rm-additional-content a:focus {
	background: #3C3C3C !important;
}
@media screen and (min-width: 450px) {
	#rm-additional-content  {
		display: none;
	}
}




