/*-----------------------------------------------

					HOME STYLES
------------------------------------------------*/

body {
	background-image: url(images/light_toast_@2X.png);
	background-repeat: repeat repeat;
/*background: rgba(0,189,210,1);
background: -moz-linear-gradient(top, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,189,210,1)), color-stop(2%, rgba(7,190,211,1)), color-stop(69%, rgba(232,232,232,1)), color-stop(100%, rgba(232,232,232,1)));
background: -webkit-linear-gradient(top, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
background: -o-linear-gradient(top, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
background: -ms-linear-gradient(top, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
background: linear-gradient(to bottom, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdd2', endColorstr='#e8e8e8', GradientType=0 );*/
}
body .site {
	border-radius: 3px;
}
.phone-number {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: .8rem;
	display: block;
}
.mobile-logo-home {
	display: block;
	width: 250px;
	margin: 0px auto;
}
.mobile-logo-home img {
	max-width: 100%;
	margin-top: 24px;
}
.welcome-message {
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.2;
	margin-top: 24px;
}
.page-copy {
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.home-widget {
	margin-bottom: 48px;
	border-top: 1px solid #ccc;
	/*text-align: center;*/
}
.page-sub-head {
	padding-bottom: 4px;
	/*border-bottom: 1px solid #ccc;*/
	text-align: left;
	margin-top: 24px;
	margin-bottom: 24px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #ff7c03;
	font-size: 2.2rem;
}
.widget-wrapper {
		margin-top: 30px;
}
.widget-link {
	position: relative;
}
.widget-link a {
	postion: absolute;
	bottom: 5px;text-decoration: none;
	text-align: center;
	margin-bottom: 2rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ff7c03;
	padding: 10px;
	display: block;
	width: 125px;
	height: 35px;
	font-size: .9rem;
	text-decoration: none;
}
.widget-link a:hover, .widget-link a:focus {
	background-color: #ff7c03;
	color: #fff;
}
.slider {
	display: none;
}
@media screen and (min-width: 403px) {
	.phone-number {
		display: none;
	}
}
@media screen and (min-width: 780px) {
	.home-widget {
		width: 28%;
		float: left;
		margin-right: 8%;
		margin-bottom: 0px;
		border-top: 0px;
	}
	.widget-last {
		margin-right: 0;
	}
	.page-sub-head {
		border-bottom: 1px solid #ccc;
	}
	.widget-wrapper {
		margin-top: 24px;
	}
	.mobile-logo-home {
		display: none;
	}
	.slider {
		display: block;
		border-radius: 3px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		box-sizing: border-box;
	}
	.metaslider {
		border-radius: 3px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 97.5%;
	}
}