/*-----------------------------------------------

				SIDEBAR STYLES
for about page, products pages, news posts and recipe posts
------------------------------------------------*/
/* line 8, scss/about.scss */
.about-sidebar {
  clear: both;
  width: 100%;
  background: #ededed;
  padding: 10px;
}

/* line 14, scss/about.scss */
.sidebar-ul li {
  font-size: .8rem;
  margin: 0 0 .5rem;
  color: #B0B0B0;
}

/* line 19, scss/about.scss */
.sidebar-ul {
  margin: 0 0 1.714285714rem;
}

/* line 22, scss/about.scss */
.products-sidebar {
  display: none;
}

/* line 25, scss/about.scss */
.sidebar-header {
  font-size: .8rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  margin-bottom: 4px;
}

/* line 31, scss/about.scss */
.sidebar-copy {
  font-size: .8rem;
  margin: 0 0 1.714285714rem;
  line-height: 1.714285714;
  color: #B0B0B0;
}

/* line 37, scss/about.scss */
.products-sidebar ul li {
  font-size: .8rem;
  color: #B0B0B0;
}

/* line 41, scss/about.scss */
.products-sidebar a {
  font-size: .8rem;
  margin: 0 0 1.714285714rem;
  line-height: 1.714285714;
  text-decoration: none;
  color: #B0B0B0;
}

/* line 49, scss/about.scss */
.products-sidebar a:hover,
.products-sidebar a:focus {
  color: #ff7c03;
}

/* line 52, scss/about.scss */
.widget-area {
  background: #ededed;
  padding: 10px;
}

/* line 56, scss/about.scss */
.widget-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

/* line 60, scss/about.scss */
.widget-area .widget a {
  color: #B0B0B0;
}

@media screen and (min-width: 780px) {
  /* line 65, scss/about.scss */
  .about-sidebar {
    display: block;
    width: 26.041666667%;
    clear: none;
    float: right;
    margin-top: 20px;
  }

  /* line 72, scss/about.scss */
  .products-sidebar {
    display: block;
    width: 26.041666667%;
    float: right;
    margin-top: 20px;
    padding: 10px;
    background: #ededed;
  }

  /* line 80, scss/about.scss */
  .widget-area {
    float: right;
    width: 26.041666667%;
    margin-top: 50px;
  }
}
