/*-----------------------------------------------

					HEADER STYLES ///
------------------------------------------------*/
/* line 7, scss/header.scss */
.logo-secondary-container.clear {
  position: relative;
}

/* line 10, scss/header.scss */
.mobile-logo {
  position: fixed;
  top: 0;
  left: 0;
  background: #ff7c03;
  width: 100%;
  height: 40px;
  display: block;
  padding-left: 24px;
  padding-top: 14px;
  /*margin: 0px auto;*/
  /*margin-top: 30px;*/
  z-index: 9998;
}

/* line 24, scss/header.scss */
.desktop-logo {
  display: none;
}

/* line 27, scss/header.scss */
.desktop-logo-image {
  max-width: 100%;
}

/* line 30, scss/header.scss */
.mobile-nav-logo {
  width: 120px;
}

/* line 33, scss/header.scss */
.secondary-navigation {
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 40, scss/header.scss */
.secondary-nav-contact {
  font-size: 1rem;
  text-align: right;
  margin-bottom: .8rem;
  color: #5e5e5e;
  font-weight: 300;
}

/* line 48, scss/header.scss */
.secondary-nav-icons {
  float: right;
  margin-left: 10px;
}

/* line 52, scss/header.scss */
.secondary-navigation {
  display: none;
}

@media screen and (min-width: 780px) {
  /* line 59, scss/header.scss */
  .desktop-logo {
    margin: 0px 0px;
    float: left;
    width: 200px;
    height: auto;
    display: block;
  }

  /* line 66, scss/header.scss */
  .mobile-logo {
    display: none;
  }

  /* line 69, scss/header.scss */
  .secondary-navigation {
    display: block;
  }

  /* line 72, scss/header.scss */
  .nav-menu li a {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* line 79, scss/header.scss */
  .nav-menu li a:hover {
    background: #ff7c03;
  }

  /* line 82, scss/header.scss */
  .nav-menu li:hover, .nav-menu li:focus {
    background-color: transparent;
  }

  /* line 85, scss/header.scss */
  .nav-menu li a:hover, .nav-menu li a:focus {
    color: #fff;
  }

  /* line 88, scss/header.scss */
  .main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #ededed 52%, #e8e3e8 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ededed), color-stop(52%, #ededed), color-stop(100%, #e8e3e8));
    background: -webkit-linear-gradient(top, #ededed 0%, #ededed 52%, #e8e3e8 100%);
    background: -o-linear-gradient(top, #ededed 0%, #ededed 52%, #e8e3e8 100%);
    background: -ms-linear-gradient(top, #ededed 0%, #ededed 52%, #e8e3e8 100%);
    background: linear-gradient(to bottom, #ededed 0%, #ededed 52%, #e8e3e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#e8e3e8', GradientType=0 );
    border-radius: 3px;
  }
}
@media screen and (min-width: 780px) and (max-width: 865px) {
  /* line 103, scss/header.scss */
  .main-navigation li {
    font-size: .85rem;
  }
}
/*--------------------------------------------------------------------------
	Modifications to the responsive menu plugin.

----------------------------------------------------------------------------*/
/* line 113, scss/header.scss */
#click-menu {
  top: 0px;
  padding: 5px;
  background: transparent;
  text-align: right !important;
  border-radius: 0 !important;
}

/* line 120, scss/header.scss */
#rm-additional-content {
  display: block;
}

/* line 123, scss/header.scss */
#responsive-menu div#rm-additional-content {
  padding: 0 !important;
  width: 100% !important;
}

/* line 127, scss/header.scss */
#rm-additional-content a {
  padding: 10px 0px 10px 5% !important;
  width: 100% !important;
  display: block !important;
  line-height: 20px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  color: #ff7c03 !important;
  border-top: 1px solid #3C3C3C !important;
  border-bottom: 1px solid #3C3C3C !important;
  text-decoration: none !important;
}

/* line 139, scss/header.scss */
#rm-additional-content a:last-of-type {
  border-bottom: 1px solid #3C3C3C !important;
  border-top: 0px !important;
}

/* line 144, scss/header.scss */
#rm-additional-content a:hover,
#rm-additional-content a:focus {
  background: #3C3C3C !important;
}

@media screen and (min-width: 450px) {
  /* line 148, scss/header.scss */
  #rm-additional-content {
    display: none;
  }
}
