/*-----------------------------------------------

					HOME STYLES
------------------------------------------------*/
/* line 6, scss/home.scss */
body {
  background-image: url(images/light_toast_@2X.png);
  background-repeat: repeat repeat;
  /*background: rgba(0,189,210,1);
  background: -moz-linear-gradient(top, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,189,210,1)), color-stop(2%, rgba(7,190,211,1)), color-stop(69%, rgba(232,232,232,1)), color-stop(100%, rgba(232,232,232,1)));
  background: -webkit-linear-gradient(top, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
  background: -o-linear-gradient(top, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
  background: linear-gradient(to bottom, rgba(0,189,210,1) 0%, rgba(7,190,211,1) 2%, rgba(232,232,232,1) 69%, rgba(232,232,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdd2', endColorstr='#e8e8e8', GradientType=0 );*/
}

/* line 18, scss/home.scss */
body .site {
  border-radius: 3px;
}

/* line 21, scss/home.scss */
.phone-number {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: .8rem;
  display: block;
}

/* line 27, scss/home.scss */
.mobile-logo-home {
  display: block;
  width: 250px;
  margin: 0px auto;
}

/* line 32, scss/home.scss */
.mobile-logo-home img {
  max-width: 100%;
  margin-top: 24px;
}

/* line 36, scss/home.scss */
.welcome-message {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 24px;
}

/* line 42, scss/home.scss */
.page-copy {
  margin: 0 0 1.714285714rem;
  line-height: 1.714285714;
}

/* line 46, scss/home.scss */
.home-widget {
  margin-bottom: 48px;
  border-top: 1px solid #ccc;
  /*text-align: center;*/
}

/* line 51, scss/home.scss */
.page-sub-head {
  padding-bottom: 4px;
  /*border-bottom: 1px solid #ccc;*/
  text-align: left;
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ff7c03;
  font-size: 2.2rem;
}

/* line 62, scss/home.scss */
.widget-wrapper {
  margin-top: 30px;
}

/* line 65, scss/home.scss */
.widget-link {
  position: relative;
}

/* line 68, scss/home.scss */
.widget-link a {
  postion: absolute;
  bottom: 5px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ff7c03;
  padding: 10px;
  display: block;
  width: 125px;
  height: 35px;
  font-size: .9rem;
  text-decoration: none;
}

/* line 84, scss/home.scss */
.widget-link a:hover, .widget-link a:focus {
  background-color: #ff7c03;
  color: #fff;
}

/* line 88, scss/home.scss */
.slider {
  display: none;
}

@media screen and (min-width: 403px) {
  /* line 92, scss/home.scss */
  .phone-number {
    display: none;
  }
}
@media screen and (min-width: 780px) {
  /* line 97, scss/home.scss */
  .home-widget {
    width: 28%;
    float: left;
    margin-right: 8%;
    margin-bottom: 0px;
    border-top: 0px;
  }

  /* line 104, scss/home.scss */
  .widget-last {
    margin-right: 0;
  }

  /* line 107, scss/home.scss */
  .page-sub-head {
    border-bottom: 1px solid #ccc;
  }

  /* line 110, scss/home.scss */
  .widget-wrapper {
    margin-top: 24px;
  }

  /* line 113, scss/home.scss */
  .mobile-logo-home {
    display: none;
  }

  /* line 116, scss/home.scss */
  .slider {
    display: block;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  /* line 125, scss/home.scss */
  .metaslider {
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 97.5%;
  }
}
